
body{
    padding:20px
}
.card{
    
    border: solid 2px black;
    width: 360px;
    height: 460px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.cardImage{
    height: 240px;
    width: 270px;
    border-radius: 5px;

}

h2{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    border:solid 2px black;
    width:80%;
    text-align: center;
    border-radius:3px ;
    color:blue;
}

#container {
    display: grid;
    grid-template-columns: auto auto auto; /* Three columns with equal width */
    gap: 50px; /* Gap between cards */
    
}